n8n/workflows/01-whatsapp-inbound.json
{
  "name": "01 - WhatsApp Inbound",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Twilio WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://israeli-agent-business-production.up.railway.app/message",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "clientId", "value": "demo-clinic" },
            { "name": "from", "value": "={{ $json.body.From.replace('whatsapp:', '') }}" },
            { "name": "body", "value": "={{ $json.body.Body }}" },
            { "name": "mediaUrl", "value": "={{ $json.body.MediaUrl0 || '' }}" },
            { "name": "mediaContentType", "value": "={{ $json.body.MediaContentType0 || '' }}" },
            { "name": "messageId", "value": "={{ $json.body.MessageSid }}" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Call agent-brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response>{{ $json.reply ? ('<Message><![CDATA[' + $json.reply + ']]></Message>') : '' }}</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/xml" }
            ]
          }
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Reply to WhatsApp (TwiML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Twilio WhatsApp Webhook": {
      "main": [[{ "node": "Call agent-brain", "type": "main", "index": 0 }]]
    },
    "Call agent-brain": {
      "main": [[{ "node": "Reply to WhatsApp (TwiML)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "active": false
}
